body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 600px;
    background: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

h2 {
    color: #009879;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="password"],
form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1em;
}

form input[type="submit"] {
    padding: 10px 20px;
    background-color: #009879;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #007f65;
}

.btn-back {
    display: block;
    margin: 15px 0;
    padding: 10px 20px;
    background-color: #dc3545;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 1.2em;
}

.btn-back:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 20px;
    }

    form label,
    form input[type="text"],
    form input[type="email"],
    form input[type="number"],
    form input[type="password"],
    form select {
        width: 100%;
    }

    .btn-back {
        padding: 12px;
        font-size: 1em;
        width: 100%;
    }
}
